<table class="table table-striped">
  <thead>
    <th scope="col">User</th>
    <th scope="col">Description</th>
    <th scope="col">Justification</th>
    <th scope="col">Total</th>
  </thead>
  <tbody>
    <tr>
      <td>{{ request.user.lastName }}, {{ request.user.firstName }}</td>
      <td>{{ request.description }}</td>
      <td>{{ request.justification }}</td>
      <td>{{ request.total | currency }}</td>
    </tr>
  </tbody>
</table>
<table class="table table-striped">
  <thead>
    <th scope="col">Product</th>
    <th scope="col">Quantity</th>
    <th scope="col">Price</th>
  </thead>
  <tbody>
    <tr *ngFor="let lineItem of lineItems">
      <td>{{ lineItem.product.name }} | {{ lineItem.product.vendor.name }}</td>
      <td>{{ lineItem.quantity }}</td>
      <td>{{ lineItem.product.price * lineItem.quantity | currency }}</td>
    </tr>
  </tbody>
</table>
<div class="input-group">
  <div class="input-group-prepend">
    <button
      type="button"
      class="btn btn-primary mb-2"
      (click)="approveRequest()"
    >
      Approve
    </button>
  </div>
  <input
    class="form-control col-sm-3"
    type="text"
    [(ngModel)]="request.reasonForRejection"
    name="ReasonForRejection"
    id="reasonForRejection"
    placeholder="ReasonForRejection"
  />
  <div class="input-group-append">
    <button type="button" class="btn btn-danger mb-2" (click)="rejectRequest()">
      Reject
    </button>
  </div>
</div>
