<div class="form-group row">
  <label class="col-form-label col-sm-2" for="product">Product:</label>
  <select
    class="form-control col-sm-6"
    id="vendor"
    name="Vendor"
    [(ngModel)]="lineItem.product"
  >
    <option *ngFor="let product of products" [ngValue]="product" required>
      {{ product.name }} | {{ product.vendor.name }}
    </option>
  </select>
</div>
<div class="form-group row">
  <label class="col-form-label col-sm-2" for="quantity">Quantity:</label>
  <input
    class="form-control col-sm-6"
    type="number"
    [(ngModel)]="lineItem.quantity"
    name="Quantity"
    id="quantity"
    placeholder="Quantity"
    required
  />
</div>
<button type="button" class="btn btn-success mb-2" (click)="createItem()">
  Create
</button>
