/* label {
  width: 5em;
  text-align: left;
}
input {
  margin-left: 10em;
  margin-bottom: 0.5em;
}
#checkbox {
  margin-left: 10em;
  margin-bottom: 0.5em;
}*/
/* #button {
  margin-left: 5em;
} */
