<div class="form-group row">
  <label class="col-form-label col-sm-2" for="username">Username:</label>
  <input
    class="form-control col-sm-6"
    type="text"
    [(ngModel)]="user.username"
    name="Username"
    id="username"
    placeholder="Username"
    required
  />
</div>
<div class="form-group row">
  <label class="col-form-label col-sm-2" for="password">Password:</label>
  <input
    class="form-control col-sm-6"
    type="password"
    [(ngModel)]="user.password"
    name="Password"
    id="password"
    placeholder="Password"
    required
  />
</div>
<button type="button" class="btn btn-success mb-2" (click)="login()">
  Login
</button>
